/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
    top: 30px;

}


body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.top-left{
    position: absolute;
    top:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin: 10px 20px;
}

.top-right{
    position:absolute;
    top:20px;
    right:10px;
    display:flex;
}

.login-button{
    background-color: #ccc;
    color:#fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /*some space between buttons*/
}

.login-button:hover{
    background-color: #555;
}

.bar{
    top: 30px;
    width: 100%;
    height: 4px;
    background-color: #ccc;
    border-radius: 4px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.item:hover{
    transform: scale(1.05);
}

.item img {
    max-width: 100%;
    height: auto;
}

.price {
    font-weight: bold;
    color: #ff5733;
}

.order-button {
    background-color: #ff5733;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.order-button:hover {
    background-color: #e64d28;
}
